
nav{
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.vertical-line{
    border-left: 2px solid #F2F2F2;
    height: 60px;
}
.nav-delivery>h4{
    margin-top: 10px;
    font-weight: 700;
}
.nav-delivery>p{
    font-size: 15px;
    
}
.nav-search-bar{

    background-color: #F8F8F8;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding-inline: 10px;
}
.nav-search-bar>input{
   border: none;
   width: 45vw;
   height: 45px;
   background-color: #F8F8F8;
}
.my-cart-btn{
    border-radius: 10px !important; 
    font-weight: 700 !important;
}
.category-1{
    display: flex;
    justify-content: space-around;
    padding-inline: 6.5vw;
}
.category-2{
    display: flex;
    justify-content: space-around;
    padding-inline: 6.5vw;
}

.scroll-section{
    width: 85vw;
    margin: auto;
}
.list{
    overflow: scroll;
    display: flex;
}
.list>img{
    display: inline-block;
    margin: 10px;
}
.list::-webkit-scrollbar{
    display: none;
}
.category-3{
    width: 85vw;
    margin: auto;
}
.list{
    overflow: scroll;
    display: flex;
}


.my-card{
    padding: 15px;
    display: inline-block !important;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    box-sizing: border-box !important;
    white-space: wrap;
    flex-wrap: wrap; 

}

.my-card>img{
    display: inline-block;
    margin: auto;
}

.timer{
    background-color: #F8F8F8;
    width: fit-content;
    font-weight: 700;
    font-size: 15px;
    color: #363636;
    padding: 3px;
    border-radius: 7px; 
}

.product-weight{
    font-size: 13px;
    color: #696969;
}
.row-3>p{
    margin: 0px;
}




.my-card-time{
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}

.my-card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
}

.my-card-weight{
    color: #666666;
    font-size: 13px;
}

.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
}

.mrp{
    color: #666666;
    font-size: 12px;
}
.category-section{
    width: 85%;
    margin: auto;
}
.category-section-row{
    width: 100%;
    overflow-x: scroll;
}
.my-footer{
    width: 85%;
    margin: auto;
}
.row-3{
    text-align: justify;
    color: #666666;
    font-size: 15px;
    padding:10px;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.row-2>p{
    text-align: justify;
    color: #666666;
    font-size: 12px;
    width: 35%;
}

.download-section>p{
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    margin: 16px;
}
.download-btns{
    background-color: #213b50;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
}
.social-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline: 10px;
}

.social{
    display: flex;
}

.row-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.useful-links{
    flex: 2;
}

.categories-links{
    flex: 3;
}
table{
    width: 100%;
}
td{
    padding: 3px 10px;
    color: #666666;
    font-size: 14px;
}


@media screen and (max-width:768px){
    nav,.row-2,.row-1{
        flex-direction: column !important;
    }
    .vertical-line,.hero-section>img{
        display: none !important;
    }
    .nav-btns,.row-2>p,.search-div{
        width: 90%;
    }
    .row-1>div,.my-container{
        margin-top: 20px;
    }
    .row-1>div>h2,.row-1>div>h4{
        text-align: center;
    }
    td{
        text-align: center;
    }
    .social{
        margin-top: 10px;
    }
}